@mixin btnStyle($padding) {
  background-color: #4154f1;
  color: #fff;
  padding: $padding !important;
  box-shadow: 0 5px 30px rgba(65, 84, 241, 0.4);
  font-weight: 600;
  i {
    transition: all 0.3s;
  }
  &:hover {
    i {
      transform: translateX(5px);
    }
  }
}
